HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

jpa-basic/.gradle/7.4/executionHistory/executionHistory.bin

jpa-basic/.gradle/7.4/executionHistory/executionHistory.lock

jpa-basic/.gradle/7.4/fileHashes/fileHashes.bin

jpa-basic/.gradle/7.4/fileHashes/fileHashes.lock

jpa-basic/.gradle/buildOutputCleanup/outputFiles.bin